<!DOCTYPE html>
<html>
<head>
	<title>eatmyfeet blog</title>
</head>
<body>
	<div>
	<h1>Soy la puta ama</h1>
</div>
<div>
	<h2>Sí, tú también lo sabes!</h2>
</div>
<div>
	<h3>Había que decirlo y se dijo</h3>
</div>
<div>
		<p>¿Estamos de acuerdo en que Maite es la puta ama? Estamos de acuerdo en que Maite es la puta ama</p>
		<em>Queda secundado y corroborado, gracias.</em>
		<br>
		<br>
		<strong>¡también votamos a favor de la moción! Ha quedado claro.</strong>
	<br>
	<br>
		<a href="https://twitter.com/eatmyfeet">¡viva eatmyfeet!</a>
	<ul><li>Si te gusta la piña colonia</li>
		<li>Has de venir a Babilonia</li>
		<li>Y ya está. Se acabó.</li>
	</ul>
</div>

</body>
</html>